<?xml version='1.0'?>
<document>
<config>
	<param name="activationUrl" value="*"/>
	<param name="activationLevel" value="1"/>
	<param name="adminMenu" value="1"/>
	<param name="adminMenuOrder" value="1"/>

	<api name="import" action="RepositoryImport"/>
	<api name="rep" action="RepositoryListModules"/>

	<constant name="TABLE_REPOSITORY" value="repository"/>
	<constant name="TABLE_REPOSITORY_KEYS" value="repository_keys"/>
	<constant name="TABLE_MODULE_DOWNLOADS" value="module_downloads"/>

	<filter url="*" action="RepositoryLoad"/>
	<filter url="/rep-build/" action="RepositoryBuild" setpage="/"/>

	<table name="repository" index="id" title="title">
		<field name="id" type="id"/>
		<field name="published" type="published"/>
		<field name="deleted" type="deleted"/>
		<field name="author" type="author"/>
		<field name="updated" type="updated"/>
		<field name="lang" type="lang"/>
		<field name="rep" type="str"/>
		<field name="name" type="str"/>
		<field name="title" type="str"/>
		<field name="version" type="str"/>
		<field name="date" type="date"/>
		<field name="date_build" type="date"/>
		<field name="description" type="text"/>
		<field name="source" type="str"/>
		<field name="archive" type="file"/>
		<field name="preview" type="pic" max-width="500" max-height="500" />
		<field name="tags" type="str"/>
	</table>
	<table name="repository_keys" index="id" title="name">
		<field name="id" type="id"/>
		<field name="published" type="published"/>
		<field name="deleted" type="deleted"/>
		<field name="author" type="author"/>
		<field name="updated" type="updated"/>
		<field name="lang" type="lang"/>
		<field name="name" type="str"/>
		<field name="email" type="str"/>
		<field name="key" type="str"/>
		<field name="description" type="text"/>
	</table>
	<table name="module_downloads" index="id" title="module">
		<field name="id" type="id"/>
		<field name="published" type="published"/>
		<field name="deleted" type="deleted"/>
		<field name="author" type="author"/>
		<field name="updated" type="updated"/>
		<field name="lang" type="lang"/>
		<field name="module" type="str"/>
		<field name="date" type="date"/>
		<field name="ip" type="str"/>
		<field name="ua" type="str"/>
		<field name="ref" type="str"/>
	</table>
</config>

<install>
	<param name="name" value="repository"/>
	<param name="version" value="1.0.3"/>
	<param name="date" value="17.12.2017"/>
	<param name="title" value="MSV Repository"/>
	<param name="description" value="Module Manager for MSV"/>
	<param name="tags" value="core,repository"/>

	<dependency module="msv.core" version="1.0" />

	<file dir="module" path="repository/repository.php"/>
	<file dir="module" path="repository/repository.api.php"/>
	<file dir="module" path="repository/repository.functions.php"/>
	<file dir="module" path="repository/config.xml"/>
	<file dir="module" path="repository/config.locales.xml"/>
	<file dir="template" path="repository/index.tpl"/>
	<file dir="content" path="css/repository.css"/>
</install>
</document>